.App {
  text-align: center;
}

body {
  margin: 0 130px;
}

.addTask {
  
  background-color: blue;
  min-height: 150px;
}

.task{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 6px;
  justify-content: space-between;
 
}

button{
  padding :10px;
  background-color: red;
}

h1{
  font-size: medium;
}